{% extends "base.html" %}

{% block content %}
{% if not cart_items %}
<div class="container" style="height: 350px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h2 class="text-center">Your Shopping Cart is empty</h2>
  <div class="text-center">
    <a href="{% url 'store' %}" class="btn btn-primary">Continue shopping</a>
  </div>
</div>
{% else %}
<main class="py-4">
  <div class="container">
    <div class="table-responsive text-nowrap">
      <h2>Order Summary</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
          </tr>
        </thead>
        <tbody>
          <!-- Example products in the cart -->
          {% for cart_item in cart_items %}
          <tr>
            <td><img src="{{ cart_item.product.images.url }}" alt="{{ cart_item.product.product_name }}" class="img-thumbnail" style="max-width: 100px;"></td>
            <td>
              <p class="my-0">{{ cart_item.product.product_name }}</p>
              {% if cart_item.variations.all %}
                {% for variation in cart_item.variations.all %}
                  <small>{{ variation.variation_category }}: {{ variation.variation_value }}</small><br>
                {% endfor %}
              {% endif %}
            </td>
            <td>Rs. {{ cart_item.product.price }}</td>
            <td>
                <div class="quantity">
                    <a href="{% url 'decrement_cart_item_quantity' cart_item.product.id cart_item.id %}"><button type="submit" class="quantity-btn minus bg-dark text-white"><i class="fas fa-minus"></i></button></a>
                    <input type="text" class="quantity-input" value="{{ cart_item.quantity }}" readonly style="width: 25px; text-align: center;">
                    <form action="{% url 'add_to_cart' cart_item.product.id %}" method="POST" class="form">
                      {% csrf_token %}
                      {% for item in cart_item.variations.all %}
                        <input type="hidden" name="{{ item.variation_category | lower }}" value="{{ item.variation_value | capfirst }}">
                      {% endfor %}
                      <button type="submit" class="quantity-btn plus bg-dark text-white"><i class="fas fa-plus"></i></button>
                    </form>
                </div>
            </td>
            <td>{{ cart_item.sub_total }}</td>
            <td><a href="{% url 'remove_cart_item' cart_item.product.id cart_item.id %}"><button class="btn btn-danger">Remove</button></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- Cart summary and action buttons -->

    <div class="container my-3">
      <div class="row">
        <div class="col-md-3">
          <b>Total:</b>
        </div>
        <div class="col-md-3">
          &#8377; {{ total }} <!-- Example shipping charges -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Shipping Charges:</b>
        </div>
        <div class="col-md-3">
          &#8377; {{ shipping_charge }} <!-- Example shipping charges -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <b>Total Amount:</b>
        </div>
        <div class="col-md-3">
          <b>&#8377; {{ total_amt }}</b> <!-- Example total amount -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a class="btn btn-warning float-right ml-2" href="{% url 'checkout' %}">Proceed to checkout</a>
        <a class="btn btn-primary float-right" href="{% url 'store' %}">Continue shopping</a>
      </div>
    </div>
  </div>
</main>
{% endif %}
{% endblock content %}


