{% load static %}
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row gy-3">
          <!-- Left elements -->
          <div class="col-lg-2 col-sm-4 col-4">
            <a href="{% url 'home' %}" class="float-start">
              <img src="https://gumlet.assettype.com/afaqs%2F2022-08%2F69acc390-3578-4527-8355-9f443f4749e3%2FEkar.jpg?rect=0%2C0%2C1600%2C900&format=webp&w=700&dpr=1.5" height="35" />
            </a>
          </div>
          <!-- Left elements -->
  
          <!-- Center elements -->
          <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            <div class="d-flex float-end">
              <a href="{% url 'store' %}" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center"><p class="d-none d-md-block mb-0">Store</p> </a>
              <a href="{% url 'cart' %}" class="me-1 me-md-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-shopping-cart me-md-1"></i><p class="d-none d-md-block mb-0">My cart</p></a>
              <a href="#" class="me-1 me-md-1 border rounded py-1 px-3 nav-link d-flex align-items-center"> <i class="fas fa-user-alt me-md-1"></i><p class="d-none d-md-block mb-0">Sign in</p> </a>
            </div>
          </div>
          <!-- Center elements -->

          <!-- Right elements -->
          <div class="col-lg-5 col-md-12 col-12">
            <form action="{% url 'search' %}" method="GET" class="form">
            <div class="input-group float-center">
              <div class="form-outline">
                <input type="search" id="form1" class="form-control" name="keyword">
                <label class="form-label" for="form1">Search</label>
              </div>
              <button type="submit" class="btn btn-primary shadow-0">
                <i class="fas fa-search"></i>
              </button>
            </div>
            </form>
          </div>
          <!-- Right elements -->
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <!-- Container wrapper -->
      <div class="container justify-content-center justify-content-md-between">
        <!-- Toggle button -->
        <button
                class="navbar-toggler border py-2 text-dark"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarLeftAlignExample"
                aria-controls="navbarLeftAlignExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <i class="fas fa-bars"></i>
        </button>
  
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-dark" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="#">Contact Us</a>
            </li>
            <!-- Navbar dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                All Category
              </a>
              <!-- Dropdown menu -->
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in links %}
                <li>
                  <a class="dropdown-item" href="{{ category.get_url }}">{{ category.category_name }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
          <!-- Left links -->
        </div>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</header>

